<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Week 2</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css"/>

    <style>
      .container {
        max-width: 960px;
        margin: 0 auto;
      }
      h1 {
        padding-top: 10px;
      }
    </style>
  </head>
  <body>
    <div id="app" class="container">
      <h1></h1>

      <div v-if="!isEditing">
        <input type="text" v-model="todo" />
        <input type="submit" value="Add" @click="storeTodo" />
      </div>
      <div v-else>
        <input type="text" v-model="todo" />
        <input type="submit" value="Update" @click="updateTodo" />
      </div>

      <ol>
        <li v-for="(todo, index) in todos">
          {{ todo }}
          <button @click="editTodo(index, todo)">Edit</button>
          <button @click="removeTodo(index)">Delete</button>
        </li>
      </ol>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script>
      new Vue({
        el: "#app",

        data: {
          isEditing: false,
          todo: "",
          todos: [],
          selectedTodo: null,
        },

        methods: {
          storeTodo() {
            this.todos.push(this.todo);
            this.todo = "";
          },

          removeTodo(index) {
            this.todos.splice(index, 1);
          },

          updateTodo() {
            this.todos.splice(this.selectedIndex, 1, this.todo);
            this.todo = "";
            this.isEditing = false;
          },

          editTodo(index, todo) {
            this.isEditing = true;
            this.todo = todo;
            this.selectedIndex = index;
          },
        },
      });
    </script>
  </body>
</html>